/*
not sure original author
believe I copied/pasted from
http://www.d3noob.org/2013/02/sankey-diagrams-description-of-d3js-code.html
but have to think original source was Mike Bostock
http://bost.ocks.org/mike/sankey/
*/

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .4;
}

.link:hover {
  stroke-opacity: .7;
}

svg {
  font: 10px sans-serif;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.1s ease;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 0.8;
    
    /* customizable */
    background: black;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}